<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera Dashboard</title>

    <link href="/cams/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/cams/assets/css/styles.css">

</head>
<body class="bg-light">
    <div class="container py-4">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-cameras-tab" data-bs-toggle="tab" data-bs-target="#nav-cameras" type="button" role="tab" aria-controls="nav-cameras" aria-selected="true">Cameras</button>
                <button class="nav-link" id="nav-agents-tab" data-bs-toggle="tab" data-bs-target="#nav-agents" type="button" role="tab" aria-controls="nav-agents" aria-selected="false">Capture Agents</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane show active" id="nav-cameras" role="tabpanel" aria-labelledby="nav-cameras-tab">

                <!-- Filters -->
                <div class="card">
                    <div id="cameraFilters" class="card-body row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" id="cameraSearch" class="form-control search-input"
                                    data-type="camera"
                                    placeholder="Search by camera ...">
                                <button type="button" id="cameraSearch_clear"class="btn btn-light">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-7 text-center">
                            <span class="filter-name me-2">Camera Status:</span>
                            <div class="btn-group" role="group" id="cameraStatus">
                                <button class="btn btn-outline-secondary filter-btn active"
                                    data-status="all" data-type="camera">
                                    All (<span id="cams-count-all">0</span>)
                                </button>
                                <button class="btn btn-outline-success filter-btn"
                                    data-status="online" data-type="camera">
                                    Online (<span id="cams-count-online">0</span>)
                                </button>
                                <button class="btn btn-outline-danger filter-btn"
                                    data-status="offline" data-type="camera">
                                    Offline (<span id="cams-count-offline">0</span>)
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2 text-end">
                            <button type="button" class="btn btn-light asc sort-button" id="cameraSort"
                                data-type="camera">
                                <i class="fa-solid fa-arrow-down-short-wide"></i>
                                <i class="fa-solid fa-arrow-up-short-wide"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Content -->
                <div id="cameraGrid" class="row g-4">
                    <div class='loader loader4'>
                        <div>
                            <div>
                            <div>
                                <div>
                                <div>
                                    <div>
                                    <div>
                                        <div>
                                        <div>
                                            <div></div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="nav-agents" role="tabpanel" aria-labelledby="nav-agents-tab">

                <!-- Filters -->
                <div class="card">
                    <div id="agentFilters" class="card-body row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" id="agentSearch" class="form-control search-input"
                                    data-type="agent"
                                    placeholder="Search by capture agent ...">
                                <button type="button" id="agentSearch_clear"class="btn btn-light">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-7 text-center">
                            <span class="filter-name me-2">Capture Agent Status:</span>
                            <div class="btn-group" role="group" id="agentStatus">
                                <button class="btn btn-outline-secondary filter-btn active"
                                    data-status="all" data-type="agent">
                                    All (<span id="agent-count-all">0</span>)
                                </button>
                                <button class="btn btn-outline-info filter-btn"
                                    data-status="capturing" data-type="agent">
                                    Capturing (<span id="agent-count-capturing">0</span>)
                                </button>
                                <button class="btn btn-outline-success filter-btn"
                                    data-status="idle" data-type="agent">
                                    Idle (<span id="agent-count-idle">0</span>)
                                </button>
                                <button class="btn btn-outline-danger filter-btn"
                                    data-status="error" data-type="agent">
                                    Error (<span id="agent-count-error">0</span>)
                                </button>
                                <button class="btn btn-outline-secondary filter-btn"
                                    data-status="offline" data-type="agent">
                                    Offline (<span id="agent-count-offline">0</span>)
                                </button>
                                <button class="btn btn-outline-warning filter-btn"
                                    data-status="unknown" data-type="agent">
                                    Unknown (<span id="agent-count-unknown">0</span>)
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2 text-end">
                            <button type="button" class="btn btn-light asc sort-button" id="agentSort"
                                data-type="agent">
                                <i class="fa-solid fa-arrow-down-short-wide"></i>
                                <i class="fa-solid fa-arrow-up-short-wide"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Content -->
                <div id="agentGrid" class="row g-4">
                    <div class='loader loader4'>
                        <div>
                            <div>
                            <div>
                                <div>
                                <div>
                                    <div>
                                    <div>
                                        <div>
                                        <div>
                                            <div></div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- all tabs -->
    </div>
    <div class="footer row">
        <div class="mt-5 mb-5 col">@ University of Cape Town. All rights reserved.</div>
    </div>

    <!-- Camera Modal -->
    <div class="modal fade" id="cameraModal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cameraModalTitle"></h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <!-- Main Image -->
                    <div class="text-center mb-3">
                        <img id="modalMainImage" class="img-fluid rounded shadow" />
                    </div>
                    <!-- Thumbnails (optional – hidden for now) -->
                    <div id="modalThumbs" class="d-flex gap-2 justify-content-center"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Templates -->
    <template id="CameraTemplate">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card camera-card shadow-sm">

                <div class="camera-image-wrapper">
                    <img src="/cams/assets/images/image_not_found_uct.png" class="card-img-top"/>
                    <i class="fa-regular fa-circle-xmark"></i>
                </div>

                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-display"></p>
                    <div class="card-status"></div>
                </div>
                <div class="card-footer text-muted"></div>
            </div>
        </div>
    </template>

    <template id="AgentTemplate">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card agent-card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div class="card-status"></div>
                </div>
                <div class="card-footer text-muted"></div>
            </div>
        </div>
    </template>

    <script src="/cams/assets/js/jquery.min.js"></script>
    <script src="/cams/assets/js/bootstrap.min.js"></script>
    <script src="/cams/assets/js/moments.min.js"></script>
    <script type="module">
        import CameraDashboard from "/cams/assets/js/camera-dashboard.js";

        $(document).ready(() => {
            const dashboard = new CameraDashboard({
                refresh: false
            });
        });
    </script>
</body>
</html>
